<!--This view is rendered for the welcome action on the Pages controller-->
<header>
<div class="container">
<h1>No Line</h1>
</div>
</header>

<div class="container">
<h2>
Browse for your location
</h2>
<div class="row">
  <div class="span3"><%= link_to 'Museums', locations_path %></div>
  <div class="span3"><%= link_to 'Clubs and Bars', locations_path %></div>
  <div class="span3"><%= link_to 'Restaurants', locations_path %></div>
  <div class="span3"><%= link_to 'Events', locations_path %></div>
</div> 
</div>  
