<!--This view is rendered for the welcome action on the Pages controller-->
<h1><%= @page.title %></h1>

<div class="content">
  <%= @page.content %>
</div>

<hr />
<ul>
<li>Museums</li>
<li>Clubs and Bars</li>
<li>Restaurants</li>
<li>Events</li>
</ul>
