// Place all the styles related to the Waits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "twitter/bootstrap";

.container {

}

.nlnw-banner {
padding-top: 20px;
padding-bottom: 20px;
background-color: black;
}

.thumbnail {
margin: 10px;
}

body {

}

.navbar .brand {
color: #ffffff;
}

.navbar .nav li a {
color: #ffffff;
}
