// Place all the styles related to the Waits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "twitter/bootstrap";

.container {

}

.nlnw-banner {
padding-top: 20px;
padding-bottom: 20px;
background-color: black;
}

.thumbnail {
margin: 10px;
}

body {

}

.navbar-inner {
border-radius: 0 0 4px 4px;
}

.navbar .nav li a {
color: #ffffff;
margin: 0 10px 0 10px;
}

.navbar .nav li a:hover {
color: #ed1652;
background-color: white;
}

.navbar-search .search-query {
margin-left: 20px;
}

.footer {
background-color: #DDDDDD;
    border-top: 1px solid #DDDDDD;
    margin-top: 70px;
    padding: 70px 0;
}
