<!--Duplicate this markup in the Comments index view.-->
<blockquote class="hero-unit">
  <div>
    <h3><%= @location.name %></h3>
    <small>
      <%= @location.image_url %>
    </small>
  </div>
</blockquote>

<p><%= link_to 'Current Wait', location_waits_path(@location), class: "btn btn-primary" %></p>

<p><%= link_to 'See all locations', locations_path %></p>
